<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>
<br />
<br />
<div class="row underlined">
  <div class="span6"><h5 class="muted">Client</h5> <%= "Paul Duffy and Ken Patton (TBD)" %></div>
  <div class="span2"><h5 class="muted">Arrival Time</h5> <%= time_range(@event.arrival_time) %></div>
  <div class="span1"><h5 class="muted">Valet</h5> <%= yes_no(@event.valet) %></div>
</div>


<div class="row underlined">
  <div class="span3"><h5 class="muted">Day</h5> <%= @event.occurs_at.strftime("%A") %></div>
  <div class="span3"><h5 class="muted">Date</h5> <%= @event.occurs_at.strftime("%B %d, %Y") %></div>
  <div class="span3"><h5 class="muted">Time</h5> <%= time_range(@event.start_time, @event.end_time) %></div>
</div>
<div class="row underlined">
  <div class="span3"><h5 class="muted">Dinner Room</h5> <%= "TBD" %></div>
  <div class="span3"><h5 class="muted">Cocktail Room</h5> <%= "TBD" %></div>
  <div class="span3"><h5 class="muted">Function</h5> <%= "TBD" %></div>
</div>
<div class="row">
  <div class="span2"><h5 class="muted">Guests</h5> <%= @event.invited_count %></div>
  <div class="span2"><h5 class="muted">Attended</h5> <%= @event.attended_count || 0 %></div>
  <div class="span1"><h5 class="muted">Crew</h5> <%= @event.crew_count || 0 %></div>
  <div class="span2"><h5 class="muted">Volunteer</h5> <%= @event.volunteer_count || 0 %></div>
  <div class="span2"><h5 class="muted">Total Eating</h5> <%= @total_eating %></div>
</div>


<br />
<br />
<br />
<br />

<table><tr style="vertical-align:top;"><td style="padding-right:8px;">
<%= button_to 'Edit', edit_event_path(@event), :class => "btn btn-primary", :method => :get %> 
</td><td><%= button_to 'Back', events_path, :class => "btn", :method => :get %></td></tr></table>
